.blocks {

    &__container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &__inner {
        max-width: 1120px;
        min-height: 248px;
        background-color: #D4FF5A;
        border-radius: 30px;
        display: flex;
        justify-content: center;
    }

    &__item {
        width: 100%;
        max-width: 198px;
        height: 198px;
        background-color: #497957;
        margin: 25px 10px;
        border: 2px solid #00FF4A;
        border-radius: 35px;
    }
}
.block {

    &__title {
        text-align: center;
        margin-bottom: 40px;
    }
}
.shadow {
    box-shadow: 2px 5px 10px #497957;
}
