.grid {

    &__container {
        padding-top: 40px;
    }

    &__title {
        text-align: center;
        margin-bottom: 40px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(6, 197.5px);
        grid-template-rows: repeat(2, 198px);
        grid-row-gap: 13px;
        grid-column-gap: 17px;
        justify-content: center;
    }

    %numbers {
        top: 35%;
        left: 50%;
        position: absolute;
        z-index: 1;
        color: #fff;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 53px;
        line-height: 62px;
    }

    &__item {
        background-color: #3ADE4B;
        height: 198px;
        position: relative;

        &:nth-child(1) {
            position: relative;
            grid-column-start: 1;
            grid-column-end: 3;

            &::before {
                content: "1";
                @extend %numbers;
            }
        }

        &:nth-child(2) {
            grid-column-start: 3;
            grid-column-end: 7;

            &::before {
                content: "2";
                @extend %numbers;
            }
        }

        &:nth-child(3) {
            grid-column-start: 1;
            grid-column-end: 6;

            &::before {
                content: "4";
                @extend %numbers;
            }
        }

        &:nth-child(4) {
            grid-column-start: 6;
            grid-column-end: 7;

            &::before {
                content: "5";
                @extend %numbers;
            }
        }

    }
}


@media (max-width: 1200px) {
    .grid {
        &__wrapper {
            grid-template-columns: repeat(3, 197.5px);
        }

        &__item {
            &:nth-child(1) {
                grid-column-start: 1;
                grid-column-end: 2;
            }
            &:nth-child(2) {
                grid-column-start: 2;
                grid-column-end: 4;
            }
            &:nth-child(3) {
                grid-column-start: 1;
                grid-column-end: 3;
            }
            &:nth-child(4) {
                grid-column-start: 3;
                grid-column-end: 4;
            }
        }
    }
}

@media (max-width: 1200px) {
    .grid {
        &__wrapper {
            grid-template-columns: 1fr;
        }

        &__item {
            &:nth-child(1) {
                grid-column-start: 1;
                grid-column-end: 2;
            }
            &:nth-child(2) {
                grid-column-start: 1;
                grid-column-end: 2;
            }
            &:nth-child(3) {
                grid-column-start: 1;
                grid-column-end: 2;
            }
            &:nth-child(4) {
                grid-column-start: 1;
                grid-column-end: 2;
            }
        }
    }
}